<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/grid.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/account.css">
    <link rel="stylesheet" href="./assets/css/responsive.css">
</head>

<body>
    <div class="app">
        <header class="header">
            <nav class="nav ">
                <div class="container">
                    <ul class="nav-list">
                        <li class="nav-item saparate hide-on-mobile-tablet">
                            <div class="o-5">Tải ứng dụng Mỹ Phẩm Ohui - LG Vina</div>
                            <div class="nav__qr">
                                <a href="#" class="nav__qr-img">
                                    <img src="https://img.abaha.vn/photos/qrcode_base64/aHR0cDovL2h5cGVydXJsLmNvL215b2h1aQ"
                                        alt="">
                                </a>
                                <div class="nav__qr-app-download">
                                    <a href="#" class="nav__qr-app-download-img">
                                        <img src="https://ohuivina.com/assets/images/icons/02b83d7c975e2830effa5fdf2045095c.png"
                                            alt="">
                                    </a>
                                    <a href="#" class="nav__qr-app-download-img">
                                        <img src="https://ohuivina.com/assets/images/icons/f014ef6b544459bf2463167d3226851f.png"
                                            alt="">
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item saparate"><i class="fas fa-phone-alt"></i>
                            <a href="tel:0965866851" class="phone-contact o-5">0965866851</a>
                        </li>
                        <li class="nav-item"><i class="fas fa-envelope"></i>
                            <a href="mailto:ohuivina.com@gmail.com" class="email-contact o-5">ohuivina.com@gmail.com</a>
                        </li>
                    </ul>
                    <ul class="nav-list hide-on-mobile-tablet">
                        <li class="nav-item ">
                            <a class="o-5" href="">
                                <i class="icons-size-l mr-4 far fa-bell"></i> Tin tức
                            </a>
                            <div class="nav__notify">
                                <div class="nav__notify-heading">
                                    Tin tức mới nhất
                                </div>
                                <div class="nav__notify-content">
                                    <ul class="nav__notify-list">
                                        <li class="nav__notify-item">
                                            <a href="" class="nav__notify-link">
                                                <div class="nav__notify-img">
                                                    <img src="https://img.abaha.vn/photos/resized/200x120/83-1627146178-myphamohui-lgvina.png"
                                                        alt="">
                                                </div>
                                                <div class="nav__notify-title">Khi cushion cũng có thể khiến bạn hạnh
                                                    phúc !
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav__notify-item">
                                            <a href="" class="nav__notify-link">
                                                <div class="nav__notify-img">
                                                    <img src="https://img.abaha.vn/photos/resized/200x120/83-1627146178-myphamohui-lgvina.png"
                                                        alt="">
                                                </div>
                                                <div class="nav__notify-title">Khi cushion cũng có thể khiến bạn hạnh
                                                    phúc !
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav__notify-item">
                                            <a href="" class="nav__notify-link">
                                                <div class="nav__notify-img">
                                                    <img src="https://img.abaha.vn/photos/resized/200x120/83-1627146178-myphamohui-lgvina.png"
                                                        alt="">
                                                </div>
                                                <div class="nav__notify-title">Khi cushion cũng có thể khiến bạn hạnh
                                                    phúc !
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav__notify-item">
                                            <a href="" class="nav__notify-link">
                                                <div class="nav__notify-img">
                                                    <img src="https://img.abaha.vn/photos/resized/200x120/83-1627146178-myphamohui-lgvina.png"
                                                        alt="">
                                                </div>
                                                <div class="nav__notify-title">Khi cushion cũng có thể khiến bạn hạnh
                                                    phúc !
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nav__notify-footer">
                                    <a href="" class="nav__notify-all">Xem tất cả</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item o-5"><a href=""><i class="icons-size-l mr-4 far fa-question-circle"></i>
                                Liên
                                hệ</a></li>
                        <!-- not login -->
                        <li class="nav-item saparate o-5"><a href="#"
                                onclick="event.preventDefault();showRegister(event)">
                                Đăng Ký</a></li>
                        <li class="nav-item o-5"><a href="#" onclick="event.preventDefault();showLogin(event)"> Đăng
                                Nhập</a></li>
                        <!-- loggeed -->
                        <li class="nav-item nav-user d-none">
                            <img class="nav-user__avatar "
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzg6iSvJO1i5y1K2L-_s0C7BbMjIg0MG5WhCAUBtSu3rq_YTQGC6ffcyKgrpo-P9MzZKg&usqp=CAU"
                                alt="">
                            <div class="nav-user__name ">Phạm Gia Hoàng</div>

                            <ul class="nav-user__menu">
                                <li class="nav-user__menu-item">
                                    <a href="">Tài khoản của tôi</a>
                                </li>
                                <li class="nav-user__menu-item">
                                    <a href="">Đơn hàng</a>
                                </li>
                                <li class="nav-user__menu-item">
                                    <a href="">Đăng xuất</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="header-with-search">
                <div class="container header-with-search__content">

                    <input type="checkbox" hidden id="search-mobile">
                    <label for="search-mobile"><i class="header__icon-search--mobile fas fa-search"></i></label>

                    <a href="" class="header-with-search__logo">
                        <img src="https://img.abaha.vn/photos/resized/320x/83-1574737287-myphamohui-lgvina.png" alt="">
                    </a>
                    <div class="header-with-search__searchbar ">
                        <div class="header-with-search__searchbar-block">
                            <input type="text" class="header-with-search__searchbar-input col-12"
                                placeholder="Tìm kiếm...">
                            <ul class="header-with-search__searchbar-list">
                                <li class="header-with-search__searchbar-item">Lịch sử tìm kiếm</li>
                                <li class="header-with-search__searchbar-item active"><a href="">Kem dưỡng ẩm</a></li>
                            </ul>
                        </div>
                        <div class="searchbar-selector">
                            <span class="searchbar-selector-label">Toàn bộ cửa hàng</span>
                            <div class="searchbar-selector-icon"><i class="fas fa-chevron-right"></i></div>
                            <div class="searchbar-selector__drawer">
                                <div class="searchbar-selector__option">
                                    <a href="" class="searchbar-selector__option-label">Toàn bộ cửa hàng</a>
                                    <div class="searchbar-selector__option-tick">
                                        <i class="fas fa-check"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn header-with-search__searchbar-btn">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <div class="header__wrapper">
                        <div class="header-with-search__cart">
                            <div class="header-with-search__cart-section">
                                <i class="header-with-search__cart-icon fas fa-shopping-cart">
                                    <div class="header-with-search__cart-count ">
                                        1
                                    </div>
                                </i>
                                <div class="header__cart-list ">
                                    <!-- header__cart-list--no-cart -->
                                    <img class="header__cart-no-cart-img" src="./assets/img/no-cart.png" alt="">
                                    <div class="header__cart-no-cart-msg">Chưa có sản phẩm</div>

                                    <!-- header__cart-list--has-cart -->
                                    <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                                    <ul class="header__cart-list-item">
                                        <li class="header__cart-item">
                                            <img class="header__cart-item-img"
                                                src="https://img.abaha.vn/photos/resized/320x/73-1574413855-myohui.png"
                                                alt="">
                                            <div class="header__cart-item-info">
                                                <div class="header__cart-item-head">
                                                    <h5 class="header__cart-item-name">Set tái sinh Ohui Thefirst mini 7
                                                        món
                                                    </h5>
                                                    <div class="header__cart-item-right">
                                                        <span class="header__cart-item-price">900.000đ</span>
                                                        <span class="header__cart-item-multiply">x</span>
                                                        <span class="header__cart-item-quantity">1</span>
                                                    </div>
                                                </div>
                                                <div class="header__cart-item-body">
                                                    <span class="header__cart-item-category">Thương hiệu:
                                                        <span>Ohui</span></span>
                                                    <span class="header__cart-item-remove">Xóa</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="header__cart-item">
                                            <img class="header__cart-item-img"
                                                src="https://img.abaha.vn/photos/resized/320x/73-1574413855-myohui.png"
                                                alt="">
                                            <div class="header__cart-item-info">
                                                <div class="header__cart-item-head">
                                                    <h5 class="header__cart-item-name">Set tái sinh Ohui Thefirst mini 7
                                                        món
                                                    </h5>
                                                    <div class="header__cart-item-right">
                                                        <span class="header__cart-item-price">900.000đ</span>
                                                        <span class="header__cart-item-multiply">x</span>
                                                        <span class="header__cart-item-quantity">1</span>
                                                    </div>
                                                </div>
                                                <div class="header__cart-item-body">
                                                    <span class="header__cart-item-category">Thương hiệu:
                                                        <span>Ohui</span></span>
                                                    <span class="header__cart-item-remove">Xóa</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="header__cart-item">
                                            <img class="header__cart-item-img"
                                                src="https://img.abaha.vn/photos/resized/320x/73-1574413855-myohui.png"
                                                alt="">
                                            <div class="header__cart-item-info">
                                                <div class="header__cart-item-head">
                                                    <h5 class="header__cart-item-name">Set tái sinh Ohui Thefirst mini 7
                                                        món
                                                    </h5>
                                                    <div class="header__cart-item-right">
                                                        <span class="header__cart-item-price">900.000đ</span>
                                                        <span class="header__cart-item-multiply">x</span>
                                                        <span class="header__cart-item-quantity">1</span>
                                                    </div>
                                                </div>
                                                <div class="header__cart-item-body">
                                                    <span class="header__cart-item-category">Thương hiệu:
                                                        <span>Ohui</span></span>
                                                    <span class="header__cart-item-remove">Xóa</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="header__cart-footer">
                                        <div class="header__cart-info">
                                            <div class="header__cart-info-item">
                                                <div class="header__cart-info-title">Tổng số tiền:</div>
                                                <div class="header__cart-info-value">1.300.300đ</div>
                                            </div>
                                        </div>
                                        <div class="view-cart">
                                            <a class="btn view-cart__link" href="">Xem tất cả</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="header-with-search__user--mobile">
                            <img class="js-img-user--mobile"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzg6iSvJO1i5y1K2L-_s0C7BbMjIg0MG5WhCAUBtSu3rq_YTQGC6ffcyKgrpo-P9MzZKg&usqp=CAU"
                                alt="">
                            <div class="modal modal-user d-none">
                                <div class="modal__overlay"></div>
                                <div class="modal-user__info">
                                    <div class="modal-user__head">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzg6iSvJO1i5y1K2L-_s0C7BbMjIg0MG5WhCAUBtSu3rq_YTQGC6ffcyKgrpo-P9MzZKg&usqp=CAU"
                                            alt="">
                                        Khách lẻ
                                    </div>

                                    <div class="modal-user__body">
                                        <div class="modal-user__body-control">
                                            <a href="" class="btn modal-user__body-control-link">Tin tức</a>
                                            <a href="" onclick="event.preventDefault();showLogin(event)"
                                                class="btn btn--primary modal-user__body-control-link">Đăng ký</a>
                                        </div>
                                        <div class="modal-user__body-list">
                                            <li class="modal-user__body-item"><a href=""> Tin tức</a></li>
                                            <li class="modal-user__body-item"><a href=""> Giỏ hàng</a></li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="header__sort-bar">
                <li class="header__sort-item"><a href="" class="header__sort-link">Phổ biến</a></li>
                <li class="header__sort-item"><a href="" class="header__sort-link active">Mới nhất</a></li>
                <li class="header__sort-item"><a href="" class="header__sort-link">Bán chạy</a></li>
                <li class="header__sort-item">
                    <a href="" class="header__sort-link">
                        Giá
                        <div class="header__sort-icons">
                            <i class="header__sort-icon-up fas fa-chevron-up"></i>
                            <i class="header__sort-icon-down fas fa-chevron-down"></i>
                        </div>
                    </a>
                </li>
            </ul>
        </header>
        <div class="main">
            <div class="main-content">
                <div class="container">
                    <div class="d-flex align-items-start">
                        <div class="userpage-sidebar">
                            <div class="user-page-brief">
                                <div class="user-page-brief__avatar">


                                    <img src="https://i.ibb.co/sCzxLFw/avatar-default.png" alt="avatar-default"
                                        border="0" alt="">

                                    <!-- <img ng-if="user.avatar" src="{{user.avatar}}" alt="Ảnh đại diện"> -->

                                </div>
                                <div class="user-page-brief__right">
                                    <div class="user-page-brief__username">
                                        Gia Hoàng
                                    </div>
                                </div>
                            </div>
                            <div class="userpage-sidebar-menu">
                                <div class="userpage-sidebar-menu-entry">
                                    <div style="background-color: rgb(255, 193, 7);"
                                        class="userpage-sidebar-menu-entry__icon">
                                        <i style="color: #fff;" class="far fa-user"></i>
                                    </div>
                                    <div class="userpage-sidebar-menu-entry__text">
                                        <a href="/account/profile">
                                            Hồ sơ
                                        </a>
                                    </div>
                                </div>
                                <div class="userpage-sidebar-menu-entry">
                                    <div style="" class="userpage-sidebar-menu-entry__icon">
                                        <img style="width: 100%;" src="https://cf.shopee.vn/file/f0049e9df4e536bc3e7f140d071e9078">

                                    </div>
                                    <div class="userpage-sidebar-menu-entry__text">
                                        <a href="/account/purchase">
                                            Đơn mua
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form method="POST" action="" enctype="multipart/form-data">

                            <div class="user-page__content">
                                <div class="h25IfI">
                                    <div class="my-account-section">
                                        <div class="my-account-section__header">
                                            <div class="my-account-section__header-title">Hồ sơ của tôi </div>
                                            <div class="my-account-section__header-subtitle">
                                                Quản lý thông tin hồ sơ để bảo mật tài khoản
                                            </div>
                                        </div>
                                        <div class="my-account-profile-form">
                                            <div class="my-account-profile">
                                                <div class="my-account-profile__left">
                                                    <div class="input-with-label">
                                                        <div class="input-with-label__wrapper">
                                                            <div class="input-with-label__label">Tên </div>
                                                            <div class="input-with-label__content">
                                                                <div class="input-with-validator-wrapper">
                                                                    <div class="input-with-validator">
                                                                        <input value="" type="text" name="name"
                                                                            id="udHoTen">
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-with-label">
                                                        <div class="input-with-label__wrapper">
                                                            <div class="input-with-label__label">Email</div>
                                                            <div class="input-with-label__content">
                                                                <div class="">
                                                                    <div id="email_name" ng-bind="user.email"
                                                                        style="font-size: 14px;">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-with-label">
                                                        <div class="input-with-label__wrapper">
                                                            <div class="input-with-label__label">Số điện thoại</div>
                                                            <div class="input-with-label__content">
                                                                <div class="input-with-validator-wrapper">
                                                                    <div class="input-with-validator">
                                                                        <input class="phone_number" value=""
                                                                            type="number" name="phone_number">
                                                                    </div>
                                                                    <div class="text-message text-danger "
                                                                        style="font-size: 14px">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-with-label">
                                                        <div class="input-with-label__wrapper">
                                                            <div class="input-with-label__label">Địa chỉ</div>
                                                            <div class="input-with-label__content">
                                                                <div class="input-with-validator-wrapper">
                                                                    <div class="input-with-validator">
                                                                        <input ng-if="user.address=='/'" value=""
                                                                            name="address" id="udDiaChi" type="text">
                                                                        <input ng-if="user.address!='/'" value=""
                                                                            name="address" id="udDiaChi" type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <input hidden id="value_imgavatar" />
                                                    <div class="my-account-page__submit">
                                                        <button class="btn btn--primary " type="submit">Lưu</button>
                                                    </div>
                                                </div>
                                                <div class="my-account-profile__right">
                                                    <div class="avatar-uploader">
                                                        <div class="avatar-uploader__avatar">
                                                            <div class="avatar-uploader__avatar-image">


                                                                <!-- <img ng-if="user.avatar" class="avatar-uploader__avatar-image js-avatar" id="img_avatar"
                                                                     src=""> -->

                                                                <img ng-if="!user.avatar" id="none-avatar"
                                                                    class="avatar-uploader__avatar-image js-avatar"
                                                                    src="https://i.ibb.co/sCzxLFw/avatar-default.png"
                                                                    alt="avatar-default" border="0">


                                                                <img style="display: none;"
                                                                    class="avatar-uploader__avatar-image js-avatar"
                                                                    id="img_avatar" src="" alt="">

                                                            </div>
                                                        </div>

                                                        <input id="choseimg" onchange="onChangeImage()" name="avatar"
                                                            hidden type="file" class="avatar-uploader__file-input">


                                                        <button id="selectimg" class="btn btn-light" type="button">Chọn
                                                            ảnh</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__menu">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-2-4 col-md-6 col-sm-6">
                            <h5 class="footer__menu-heading">Chăm sóc khách hàng</h5>
                            <ul class="footer__menu-list">
                                <li class="footer__menu-item"><a class="footer__menu-link" href="">trung tâm hỗ trợ</a>
                                </li>
                                <li class="footer__menu-item"><a class="footer__menu-link" href="">hướng dẫn mua
                                        hàng</a>
                                </li>
                                <li class="footer__menu-item"><a class="footer__menu-link" href="">chính sách vận
                                        chuyển</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-lg-2-4 col-md-6 col-sm-6">
                            <h5 class="footer__menu-heading">Về chúng tôi</h5>
                            <ul class="footer__menu-list">
                                <li class="footer__menu-item"><a class="footer__menu-link" href="">về mỹ phẩm ohui-LG
                                        vina</a> </li>
                                <li class="footer__menu-item"><a class="footer__menu-link" href="">chính sách thanh
                                        toán</a>
                                </li>
                                <li class="footer__menu-item"><a class="footer__menu-link" href="">điều khoản chính
                                        sách</a>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="col col-lg-2-4 col-md-6 col-sm-6"></div> -->
                        <div class="footer__menu-column--social col col-lg-2-4 col-md-6 col-sm-6">
                            <h5 class="footer__menu-heading">theo dõi chúng tôi</h5>
                            <ul class="footer__menu-list">
                                <li class="footer__menu-item">
                                    <a class="footer__menu-link" href="">
                                        <i class="fab fa-facebook"></i> Facebook
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="col col-lg-2-4 col-md-6 col-sm-6">
                            <h5 class="footer__menu-heading">ĐI TỚI CỬA HÀNG MỸ PHẨM OHUI - LG VINA</h5>
                            <div class="footer__menu-qr">
                                <a href="#" class="footer__menu-qr-img">
                                    <img src="https://img.abaha.vn/photos/qrcode_base64/aHR0cDovL2h5cGVydXJsLmNvL215b2h1aQ"
                                        alt="">
                                </a>
                                <div class="footer__menu-app-download">
                                    <a href="#" class="footer__menu-app-download-img">
                                        <img src="https://ohuivina.com/assets/images/icons/02b83d7c975e2830effa5fdf2045095c.png"
                                            alt="">
                                    </a>
                                    <a href="#" class="footer__menu-app-download-img">
                                        <img src="https://ohuivina.com/assets/images/icons/f014ef6b544459bf2463167d3226851f.png"
                                            alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__info">
                <div class="container">
                    <ul class="footer__info-menu-list">
                        <li class="footer__info-menu-item">
                            <a href="" class="footer__info-menu-link">chính sách bảo mật</a>
                        </li>
                        <li class="footer__info-menu-item">
                            <a href="" class="footer__info-menu-link">quy chế hoạt động</a>
                        </li>
                        <li class="footer__info-menu-item">
                            <a href="" class="footer__info-menu-link">trả hàng & hoàn tiền</a>
                        </li>
                    </ul>
                    <div class="footer__info-address">
                        <p>Công ty mỹ phẩm Ohui- LGvina</p>
                        <p>Chi nhánh: 63 Lê Văn Lương, Trung Hòa, Cầu Giấy, Hà Nội</p>
                    </div>
                    <div class="powered-by">
                        ♥ Powered by:
                        <a href="">ABAHA.vn</a> - Nền tảng thiết kế Web bán hàng online nhanh và chuyên nghiệp nhất
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <script src="./assets/script/profile.js"></script>
</body>

</html>